nav.header__menu.menu-left
	//include ../../menu_icon/pug/menu-icon.pug
	ul.menu-left__body
		li
			a(href="#").menu-left__link link
		li
			a(href="#").menu-left__link link
		li
			a(href="#").menu-left__link link
		li
			a(href="#").menu-left__link link
		li
			a(href="#").menu-left__link link
		li
			a(href="#").menu-left__link link
		li
			a(href="#").menu-left__link link