div.gallery
	div.gallery-list
		a(href="images/img/gallery/beetle.jpg" data-cat="print").gallery-item
			div.gallery-item-hover link
			img(src="images/img/gallery/beetle.jpg", alt="alt")
		a(href="images/img/gallery/liberty.jpg" data-cat="web").gallery-item
			div.gallery-item-hover link
			img(src="images/img/gallery/liberty.jpg", alt="alt")
		a(href="images/img/gallery/lighthouse.jpg" data-cat="user").gallery-item
			div.gallery-item-hover link
			img(src="images/img/gallery/lighthouse.jpg", alt="alt")
		a(href="images/img/gallery/minimalismo.jpg" data-cat="mock-up").gallery-item
			div.gallery-item-hover link
			img(src="images/img/gallery/minimalismo.jpg", alt="alt")
		a(href="images/img/gallery/salad.jpg" data-cat="mock-up").gallery-item
			div.gallery-item-hover link
			img(src="images/img/gallery/salad.jpg", alt="alt")
		a(href="images/img/gallery/shutterbug.jpg" data-cat="user").gallery-item
			div.gallery-item-hover link
			img(src="images/img/gallery/shutterbug.jpg", alt="alt")
		a(href="images/img/gallery/skaterboy.jpg" data-cat="web").gallery-item
			div.gallery-item-hover link
			img(src="images/img/gallery/skaterboy.jpg", alt="alt")
		a(href="images/img/gallery/woodcraft.jpg" data-cat="print").gallery-item
			div.gallery-item-hover link
			img(src="images/img/gallery/woodcraft.jpg", alt="alt")