div.gallery
	div.gallery-list
		a(href="" ).gallery-item
			div.gallery-item-hover link
			img(src="" alt="alt")
		a(href="" ).gallery-item
			div.gallery-item-hover link
			img(src="" alt="alt")
		a(href="").gallery-item
			div.gallery-item-hover link
			img(src="" alt="alt")
		a(href="").gallery-item
			div.gallery-item-hover link
			img(src="" alt="alt")
		a(href="").gallery-item
			div.gallery-item-hover link
			img(src="" alt="alt")
		a(href="").gallery-item
			div.gallery-item-hover link
			img(src="" alt="alt")
		a(href="").gallery-item
			div.gallery-item-hover link
			img(src="" alt="alt")
		a(href="" ).gallery-item
			div.gallery-item-hover link
			img(src="" alt="alt")