//Расширения для блоков---------------------------------------------------
	//Позиционирование и вертикальные отступы=============================
	%block_size_1 {
		text-align: $position;
		max-width: $width_1;
		margin: $offset_vertical_1 auto;
	}
	%block_size_2 {
		text-align: $position;
		max-width: $wdth_2;
		margin: $offset_vertical_2 auto;
	}
	%block_size_3 {
		text-align: $position;
		max-width: $wdth_3;
		margin: $offset_vertical_3 auto;
	}
	%block_size_4 {
		text-align: $position;
		max-width: $wdth_4;
		margin: $offset_vertical_4 auto;
	}
	%block_size_5 {
		text-align: $position;
		max-width: $wdth_5;
		margin: $offset_vertical_5 auto;
	}
	%block_size_6 {
		text-align: $position;
		max-width: $wdth_6;
		margin: $offset_vertical_6 auto;
	}