.footer {
    background-color: $color_bg_secondary;
		&__row {
            padding: 2rem 0;
            @include fast_flex() {
                justify-content: center;
                align-items: center;
            }
            
		}
}
