//Site header styles-----------------------------------------------------------

.icon-menu {
	margin: auto;
	display: none;
	place-items: center;
	width: 30px;
	height: 27px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1800;
	@include anim(0.2s, 0.1s);

	span {
		display: block;
		width: 30px;
		height: 3px;
		background-color: $color_bg_3;
		border-radius: 15%;
		justify-self: center;
		@include anim(0.2s, 0.1s);
		&:nth-child(1) { width: 26px;}
		&:nth-child(2) { width: 20px;}
	}

	&:hover{
		span {
			&:nth-child(1) { width: 30px;}
			&:nth-child(2) { width: 30px;}
		}
	}

	&.active {
		span {
			&:nth-child(1) {
				width: 30px;
				transform-origin: center center;
				transform: rotate(135deg) translate(23%, -206%);
			}
			&:nth-child(2) { width: 0px;}
			&:nth-child(3) {
				transform-origin: center center;
				transform: rotate(45deg) translate(-20%, -184%);
			}
		}
	}

	@include for-portrait-tablet-less{
		display: grid;
	}
}