//Шрифты и текст---------------------------------------------------------------
$base_font_size: 16px;//Задавать в пикселях

$font_size_desktop_1: calc(0px + 1vw);// Примерно {значение} на шаблоне
$font_size_desktop_2: calc(0px + 1vw);// Примерно {значение} на шаблоне
$font_size_desktop_3: calc(0px + 1vw);// Примерно {значение} на шаблоне

$font_size_tablet_1: calc(0px + 2vw);// Примерно {значение} на шаблоне
$font_size_tablet_2: calc(0px + 2vw);// Примерно {значение} на шаблоне
$font_size_tablet_3: calc(0px + 2vw);// Примерно {значение} на шаблоне


$font_size_mobile_1: calc(0px + 2vw);// Примерно {значение} на шаблоне
$font_size_mobile_2: calc(0px + 2vw);// Примерно {значение} на шаблоне
$font_size_mobile_3: calc(0px + 2vw);// Примерно {значение} на шаблоне

$position: center;
$font_family: "Lato";//Шрифт по умолчанию
//-----------------------------------------------------------------------------

//Цвета------------------------------------------------------------------------
$black: #000;
$white: #fff;

$color_bg_1: $white;
$color_bg_2: $black;
$color_bg_3: #000;
$color_bg_4: #000;
$color_bg_5: #000;
$color_bg_6: #000;

$color_text_1: $white;
$color_text_2: $black;
$color_text_3: #000;
$color_text_4: #000;
$color_text_5: #000;
$color_text_6: #000;
//-----------------------------------------------------------------------------

//Z-index----------------------------------------------------------------------
$z-index: (
	popap : 9999,
	header : 1000,
	footer : 1000,
	overlay : 900,
	other : 500,
);
//-----------------------------------------------------------------------------

//Отступы----------------------------------------------------------------------
$offset_vertical_base: 1px;// Значение в px/em/vh/vw
$offset_vertical_1: 1px;//Примерно {значение} на шаблоне
$offset_vertical_2: 1px;//Примерно {значение} на шаблоне
$offset_vertical_3: 1px;//Примерно {значение} на шаблоне
$offset_vertical_4: 1px;//Примерно {значение} на шаблоне
$offset_vertical_5: 1px;//Примерно {значение} на шаблоне
$offset_vertical_6: 1px;//Примерно {значение} на шаблоне

$offset_horizontal_1: 1px;//Примерно {значение} на шаблоне
$offset_horizontal_2: 1px;//Примерно {значение} на шаблоне
$offset_horizontal_3: 1px;//Примерно {значение} на шаблоне
$offset_horizontal_4: 1px;//Примерно {значение} на шаблоне
$offset_horizontal_5: 1px;//Примерно {значение} на шаблоне
$offset_horizontal_6: 1px;//Примерно {значение} на шаблоне
//-----------------------------------------------------------------------------

//Минимальные ширины-----------------------------------------------------------
$min_width_1: 270px;
$min_width_2: 1px;
$min_width_3: 1px;
$min_width_4: 1px;
$min_width_5: 1px;
$min_width_6: 1px;
//-----------------------------------------------------------------------------
//Максимальные ширины----------------------------------------------------------
$max_width_1: 1100px;
$max_width_2: 1px;
$max_width_3: 1px;
$max_width_4: 1px;
$max_width_5: 1px;
$max_width_6: 1px;
//-----------------------------------------------------------------------------

//Ширины-----------------------------------------------------------------------
$width_1:1%;
$width_2:1%;
$width_3:1%;
$width_4:1%;
$width_5:1%;
$width_6:1%;