@import "_fonts";//Подключение шрифтов
@import "_variables";//Переменные
@import "_reset";//Обнудяющие стили
@import "_mixin";//Примеси
@import "_extends";//Расширения
//Оболочка---------------------------------------------------------------------
.wrapper {
	overflow: hidden;
	min-height: 100%;
	//max-width: 1100px;
}
//-----------------------------------------------------------------------------
//Контейнер--------------------------------------------------------------------
.container{
	width: 100%;
}

//Общие стили-----------------------------------------------------------------
.content{
}
//-----------------------------------------------------------------------------
//Подключение файлов стилей страниц и элементов--------------------------------
//@import "../apps/ibg/_ibg";
//@import "../apps/responsive_gallery/scss/responsive-gallery-flex";
//@import "../apps/responsive_gallery/scss/responsive-gallery-grid";
//@import "../apps/slick_slider/_slick-slider";
//@import "../apps/expand_button/scss/_expand-button";
//@import "../apps/content_filter/scss/_content_filter";

@import "_header";
@import "_main";
@import "_footer";
//-----------------------------------------------------------------------------

