@import "_fonts";//Подключение шрифтов
@import "_variables";//Переменные
@import "_reset";//Обнудяющие стили
@import "_mixin";//Примеси
@import "_extends";//Расширения
//Оболочка---------------------------------------------------------------------
.wrapper {
	overflow: hidden;
	min-height: 100%;
	//max-width: 1100px;
}
//-----------------------------------------------------------------------------
//Контейнер--------------------------------------------------------------------
.container{
	width: 100%;
}

//Общие стили-----------------------------------------------------------------
.content{
}
//-----------------------------------------------------------------------------
//Подключение файлов стилей страниц и элементов--------------------------------
@import "../apps/ibg/_ibg";
@import "../apps/responsive_gallery/scss/responsive-gallery";
//@import "../apps/slick_slider/_slick-slider";
@import "_header";
@import "_main";
@import "_footer";
//-----------------------------------------------------------------------------

