@import "_fonts";//Подключение шрифтов
@import "_variables";//Переменные
@import "_reset";//Обнудяющие стили
@import "_mixin";//Примеси
@import "_extends";//Расширения
//Оболочка---------------------------------------------------------------------
//.wrapper {
//	overflow: hidden;
//	min-height: 100%;
//	max-width: 1100px;
//}

.grid-box{
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
	@include fast-grid();
	grid-template: 
		"main"
		"footer"
		/ 1fr
	;
}
//-----------------------------------------------------------------------------
//Контейнер--------------------------------------------------------------------
.container{
	width: 100%;
}

//Общие стили-----------------------------------------------------------------
//.content{
//}
//-----------------------------------------------------------------------------

@import "_header";
@import "_main";
@import "_footer";
//-----------------------------------------------------------------------------

