nav.class__filter.filter-class
	ul.filter-class__list
		li.filter-class__link 
			a(href="all" data-filter="" title="title").filter-class__button all
		li.filter-class__link 
			a(href="print" data-filter="" title="title").filter-class__button print template
		li.filter-class__link 
			a(href="web" data-filter="" title="title").filter-class__button web template
		li.filter-class__link 
			a(href="user" data-filter="" title="title").filter-class__button user interface
		li.filter-class__link 
			a(href="mock-up" data-filter="" title="title").filter-class__button mock-up
