nav.header__menu.menu-upper
	div.menu-upper__container
		//include ../../menu_burger/pug/menu-burger.pug
	div.menu-upper__body
		ul.menu-upper__list
			li
				a(href="#").menu-upper__link link
			li
				a(href="#").menu-upper__link link
			li
				a(href="#").menu-upper__link link
			li
				a(href="#").menu-upper__link link