footer.footer
	div.footer__row.row
		div.row__block.row__block_left
			div.row__block-text.text
				h3.text__title AOD New York
				p 2250 Lexington Avenue 
				p New York, NY 10035  - info@domain.com
		div.row__block
			a.row__block-icons(href="#")
				img(src="images/icons/twitter_icons.png", alt="Link to Twitter")
			a.row__block-icons(href="#")
				img(src="images/icons/faceboock_icon.png", alt="Link to Faceboock") 
			a.row__block-icons(href="#")
				img(src="images/icons/pick_icon.png", alt="Link to Pick") 
		div.row__block.row__block_right
			div.row__block-text 
				p Handcrafted by
			img(src="images/icons/y-e-b-o_icon@2x.png", alt="y-e-b-o logo") 