meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- Подключение Jquery
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")
//- Основной файл скриптов
script(src="js/script.js")
//- Скрипты сликслайдера
//include ../apps/slick_slider/apps-script.pug
//- Скрипты ibg
//include ../apps/ibg/apps-script.pug
//- Скрипты responsive image gallery
//include ../apps/responsive_image_gallery/apps-script.pug
//- Скрипты ThumbnailGridExpandingGallery
//include ../apps/thumbnail_grid_gallery/ThumbnailGridExpandingPreview/apps-script.pug
//- Скрипты gamma-gallery
//include ../apps/gamma-gallery/apps-script.pug
//- Name of the site
title Document

link(rel="stylesheet" href="css/style.css")