doctype html
html(lang="en")
	head
		include head.pug
	body.container
		div.wrapper
			include header.pug
			include main.pug
			include footer.pug
	//- Jquery and others scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")
	script(src="js/script.js")
	//- Responsive gallery
	//include ../apps/responsive_gallery/pug/apps-script.pug
	//- Slick slider
	// include ../apps/slick_slider/apps-script.pug
	//- Image background
	//include ../apps/ibg/apps-script.pug
	//- Animate
	//include ../apps/animate/pug/apps-script.pug
	//- expand button
	//include ../apps/expand_button/pug/apps-script.pug
	//- content filter
	//include ../apps/content_filter/pug/apps-script.pug