main.content
//include ../apps/slick_slider/slick-slider.pug
//include ../apps/responsive_image_gallery/gallery.pug
//include ../apps/thumbnail_grid_gallery/ThumbnailGridExpandingPreview/thumb-gallery.pug
//include ../apps/gamma-gallery/gamma.pug
