//-Шаблон меню-----------------------------------------------------------------
	div.header__row
		nav.header__menu.menu
			div.menu__icon
				span
			div.menu__body
				ul.menu__list
					li
						a(href="#адрес").menu__link элемент№1
					li
						a(href="#адрес").menu__link элеметн№2
//-----------------------------------------------------------------------------
//-Слик слайдер----------------------------------------------------------------
	section.slider
		div.slider__body
			div.slider__item
//-----------------------------------------------------------------------------