doctype html
html(lang="en")
	head
		include pug/head.pug
	body
		div.wrapper
			include /pug/header.pug
			include /pug/main.pug
			include /pug/footer.pug
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js")
	script(src="js/script.js")