div#rg-gallery.rg-gallery
	div.rg-tumbs
	//- Средство просмотра эскизов карусели
	div.es-carousel-wrapper
		div.es-nav
			span.es-nav-prev Previous
			span.es-nav-next Next
		div.es-carousel
			ul
				li
					a(href="#")
						img(src="images/thumbs/" data-large="images/" alt="" data-description="")
